.header{
  background-color: #888;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-logo1{
  height:90%;
}