.left-sidebar{
  background-color: peachpuff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.angular-logo{
  height: 100px;
}
