.left-sidebar{
  background-color: lightcoral;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
